* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f1f1f1;
    min-height: 100vh;
    color: #FEE715FF;
    background: #101820FF;
    margin: 0 2rem 0 2rem;
}

.heading {
    margin: 20px auto;
    text-align: center;
    padding-top: 35px;
}

.btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #FEE715FF;
    color: #101820FF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
    text-transform: uppercase;
    transition: 0.5s;
}

.btn:hover {
    background-color: rgb(33, 50, 68);
    color: #FEE715FF;
}

.container {
    margin: 2rem auto;
    display: flex;
    flex-wrap: wrap;

}

.box {
    width: 33.3%;
    height: 150px;
    background-color: #fff;
    border: 2px solid #101820FF;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 1.5rem;
    cursor: pointer;
    text-transform: uppercase;
}